{
  "@type": "Person",
  "@id": {{ '/#person' | absolute_url | jsonify }},
  "name": {{ site.social.name | default: site.name | jsonify }},
  "url": {{ '/' | absolute_url | jsonify }}
  {%- if site.author.avatar %},
  "image": {{ site.author.avatar | absolute_url | jsonify }}
  {%- endif %}
  {%- if site.social.job_title %},
  "jobTitle": {{ site.social.job_title | jsonify }}
  {%- endif %}
  {%- if site.social.works_for %},
  "worksFor": { "@type": "Organization", "name": {{ site.social.works_for.name | jsonify }}, "url": {{ site.social.works_for.url | jsonify }} }
  {%- endif %}
  {%- if site.social.knows_about %},
  "knowsAbout": {{ site.social.knows_about | jsonify }}
  {%- endif %}
  {%- if site.social.links %},
  "sameAs": {{ site.social.links | jsonify }}
  {%- endif %}
}
