# yamllint disable-line rule:document-start
name: Pull Requests & Pushes

# yamllint disable-line rule:truthy
on: [push, pull_request]

jobs:

  github-actions:
    name: GitHub Actions
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Cache gems
        uses: actions/cache@v2.1.5
        with:
          path: vendor/bundle
          key: ${{ runner.os }}-gem-${{ hashFiles('**/Gemfile.lock') }}
          restore-keys: ${{ runner.os }}-gem-

      # - name: Install shfmt
      #   run: |
      #     sudo apt update
      #     sudo apt install snapd
      #     sudo snap install shfmt

      # - name: Install hadolint
      #   run: |
      #     sudo wget --output-file /bin/hadolint \
      #         https://github.com/hadolint/hadolint/releases/download/v2.3.0/hadolint-Linux-x86_64
      #     sudo chmod +x /bin/hadolint

      # - name: pre-commit
      #   uses: pre-commit/action@v2.0.2

      - name: alex
        uses: reviewdog/action-alex@v1
        with:
          github_token: ${{ secrets.github_token }}
          # Change reviewdog reporter if you need [github-pr-check,github-check,github-pr-review].
          reporter: github-pr-review
          # Change reporter level if you need.
          # GitHub Status Check won't become failure with warning.
          level: warning

      - name: Bundler audit
        uses: andrewmcodes/bundler-audit-action@v0.1.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: markdownlint
        uses: reviewdog/action-markdownlint@v0.1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          reporter: github-pr-review

      - name: markdown-link-check
        uses: gaurav-nelson/github-action-markdown-link-check@v1
        with:
          check-modified-files-only: 'yes'
          max-depth: 1

      - name: misspell
        uses: reviewdog/action-misspell@v1
        with:
          github_token: ${{ secrets.github_token }}
          locale: "US"

      # - name: pre-commit
      #   uses: pre-commit/action@v2.0.2

      - name: shellcheck
        uses: reviewdog/action-shellcheck@v1
        with:
          exclude: "./.git/*"  # Optional.
          fail_on_error: false
          github_token: ${{ secrets.GITHUB_TOKEN }}
          path: "."
          pattern: "*.sh"  # Optional.
          reporter: github-pr-review  # Change reporter.
          shellcheck_flags: '--external-sources --format=gcc --shell=bash'

      - name: yamllint
        uses: karancode/yamllint-github-action@v2.0.0
        with:
          yamllint_config_filepath: '.yamllint.yml'
          yamllint_comment: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  label:
    name: Issue/PR Labeler
    runs-on: ubuntu-latest

    steps:
      - uses: actions/labeler@v3
        with:
          repo-token: "${{ secrets.GITHUB_TOKEN }}"

  jekyll:
    name: Jekyll Build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Cache gems
        uses: actions/cache@v2.1.5
        with:
          path: vendor/bundle
          key: ${{ runner.os }}-gem-${{ hashFiles('**/Gemfile.lock') }}
          restore-keys: ${{ runner.os }}-gem-

      # TODO: Cache $BUILD_DIR/tmp/.htmlproofer - for some value of build dir.

      - name: Build
        uses: jerryjvl/jekyll-build-action@v1
        env:
          JEKYLL_GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          # Speeds up installation of html-proofer.
          NOKOGIRI_USE_SYSTEM_LIBRARIES: true

      - name: Check HTML
        uses: chabad360/htmlproofer@v1.1
        timeout-minutes: 30
        with:
          # The directory to scan.
          directory: "./_site"
          # The arguments to pass to HTMLProofer.
          # Unsure how to enable alt tags for teaser images.
          # Treat urls with this domain as internal urls.
          arguments: "--check-favicon --check-html \
--empty-alt-ignore --internal-domains proinsias.github.io --only-4xx \
--url-ignore \"#,/archive.org/,/twitter.com/,/doi.org/,/enkipro.com/\" \
--typhoeus-config '{ \"connecttimeout\": 30, \"timeout\": 30 }'"
